<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>671259620903-5n4k22ce7137usk9kcu80i5cv4akgmtq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.671259620903-5n4k22ce7137usk9kcu80i5cv4akgmtq</string>
	<key>API_KEY</key>
	<string>AIzaSyBy0Fhj0QufShpY91T9zIrHLYhM5ekQ7aI</string>
	<key>GCM_SENDER_ID</key>
	<string>671259620903</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ymedialabs.Parking-Manager</string>
	<key>PROJECT_ID</key>
	<string>parking-manager-c36ee</string>
	<key>STORAGE_BUCKET</key>
	<string>parking-manager-c36ee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:671259620903:ios:52519384c76b7317</string>
	<key>DATABASE_URL</key>
	<string>https://parking-manager-c36ee.firebaseio.com</string>
</dict>
</plist>